.a {
	position: fixed;
	z-index: 99;
	inset: 20px 20px auto 20px;
	margin: 0 auto;
	padding: 8px;
	border-radius: 999px;
	max-width: 1440px;
	outline-offset: 2px;
	background-color: #fff3;
	backdrop-filter: blur(8px);
	overflow: hidden;
}

.a:focus-within {
	outline: 2px solid #fff;
	background-color: #fff6;
}

.b {
	display: flex;
	align-items: center;
	border-radius: 999px;
	background-color: #0000;
}

.b svg {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	margin: 8px;
}

.b input {
	background-color: #0000;
	width: 100%;
	outline: 0;
}

.b button {
	flex-shrink: 0;
	padding: 8px;
	border-radius: 999px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: #0000;
	outline-offset: -1px;
}

.b button:focus {
	outline-color: #ffff;
}

.b button svg {
	margin: 0;
}
